<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Admin Panel - Caritas</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="/">
                            <!--                            <img src="/images/icon/logo.png" alt="CoolAdmin" />-->
                            <img src="img/karitaslogo.png" alt="">
                        </a>
                        <a href="/" style="color: #dc3545; margin-left: 10px">
                            Caritas Application
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="/users/user_page">
                                <i class="fas fa-user"></i>Ստեղծել օգտատեր</a>
                        </li>
                        <li>
                            <a href="/working_groups/working_group_page">
                                <i class="fas fa-chart-bar"></i>Ստեղծել խումբ</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="/">
                <img src="img/karitaslogo.png" alt="" style="width: 60px">
            </a>
            <a href="/" style="color: #dc3545; margin-left: 10px">
                Caritas Application
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="has-sub">
                        <a class="js-arrow" href="/users/user_page">
                            <i class="fas fa-user"></i>Ստեղծել օգտատեր</a>
                    </li>
                    <li>
                        <a href="/working_groups/working_group_page">
                            <i class="fas fa-chart-bar"></i>Ստեղծել խումբ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <form class="form-header" action="" method="POST">
                            <input class="au-input au-input--xl" type="text" name="search"
                                   placeholder="Search for datas &amp; reports..."/>
                            <button class="au-btn--submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                        <div class="header-button">

                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img src="img/no_image_user_profile.png" alt="John Doe"/>
                                    </div>
                                    <div class="content">
                                        <a class="js-acc-btn" href="#"
                                           th:text="'Բարի գալուստ ' + ${currentUser.getName()}">john
                                            doe</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="img/no_image_user_profile.png" alt="John Doe"/>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#" th:text="${currentUser.getName()}">john doe</a>
                                                </h5>
                                                <span class="email" th:text="${currentUser.getEmail()}">johndoe@example.com</span>
                                            </div>
                                        </div>

                                        <div class="account-dropdown__footer">
                                            <a href="/logout">
                                                <i class="zmdi zmdi-power"></i>Ելք</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9"></div>
                    </div>
                    <div class="row m-t-30">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35">Աշխատանքային խմբեր</h3>
                            <!-- DATA TABLE-->
                            <div th:if="${workingGroupNotExists!=null}" class="alert alert-danger" role="alert">
                                Խումբը չի գտնվել․․․
                            </div>
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Վերնագիր</th>
                                        <th>Նկարագրություն</th>
                                        <th>Նկար</th>
                                        <th>Գործողություն</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr-shadow" th:each="workingGroup: ${workingGroups}">
                                        <td th:text="${workingGroup.getId()}"></td>
                                        <td th:text="${workingGroup.getTitle()}"></td>
                                        <td th:text="${workingGroup.getDescription()}"></td>
                                        <td>
                                            <div class="image"><img style="width: 60px; height:auto"
                                                                    src="images/icon/avatar-02.jpg" alt=""></div>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a class="item" data-toggle="tooltip" data-placement="top"
                                                   title="Ջնջել"
                                                   th:href="@{'/working_groups/working_group/delete/'+${workingGroup.getId()}}">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                                <a class="item" data-toggle="tooltip" data-placement="top"
                                                   title="Փոփոխել"
                                                   th:href="@{'/working_groups/working_group_page/'+${workingGroup.getId()}}">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                            </div>
                                        </td>

                                        <!--<td>-->
                                        <!--<div class="table-data-feature">-->
                                        <!--<button class="item" data-toggle="tooltip" data-placement="top"-->
                                        <!--title="Ջնջել">-->
                                        <!--<i class="zmdi zmdi-delete"></i>-->
                                        <!--</button>-->
                                        <!--<button class="item" data-toggle="tooltip" data-placement="top"-->
                                        <!--title="Փոփոխել">-->
                                        <!--<i class="zmdi zmdi-edit"></i>-->
                                        <!--</button>-->
                                        <!--</div>-->
                                        <!--</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <h3 class="title-5 m-b-35">Օգտատերեր</h3>

                            <div th:if="${userNotExists!=null}" class="alert alert-danger" role="alert">
                                Օգտատերը չի գտնվել․․․
                            </div>
                            <div class="table-responsive table-responsive-data3">
                                <table class="table table-data3">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Անուն</th>
                                        <th>Email</th>
                                        <th>Ստեղծման ամսաթիվ</th>
                                        <th>Դեր</th>
                                        <th>Կարգավիճակ</th>
                                        <th>Գործողություն</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr-shadow" th:each="user: ${users}">
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getName()}"></td>
                                        <td>
                                            <span class="block-email" th:text="${user.getEmail()}"></span>
                                        </td>
                                        <td class="desc"
                                            th:text="${#strings.substring(user.getCreatedDate(),0,16)}"></td>
                                        <td th:text="${user.getRole().name()}"></td>
                                        <td>
                                            <span th:if="${user.getStatus().name()=='ACTIVE'}" class="status--process">Ակտիվ</span>
                                            <span th:if="${user.getStatus().name()=='INACTIVE'}" class="status--denied">Ոչ ակտիվ</span>
                                        </td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a class="item" data-toggle="tooltip" data-placement="top"
                                                   title="Ջնջել" th:href="@{'/users/user/delete/' + ${user.id}}">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </a>
                                                <a class="item" data-toggle="tooltip" data-placement="top"
                                                   title="Փոփոխել"
                                                   th:href="@{'/users/edit_user_page/' + ${user.id}}">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>2018 © Caritas. Բոլոր իրավունքները պաշտպանված են։</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Jquery JS-->
<script src="vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="vendor/bootstrap-4.1/popper.min.js"></script>
<script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="vendor/slick/slick.min.js">
</script>
<script src="vendor/wow/wow.min.js"></script>
<script src="vendor/animsition/animsition.min.js"></script>
<script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="vendor/circle-progress/circle-progress.min.js"></script>
<script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="vendor/chartjs/Chart.bundle.min.js"></script>
<script src="vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="js/main.js"></script>

</body>

</html>
<!-- end document-->
