<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Yes</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <link href="/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">

</head>

<body>
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="/">
                <img src="/img/karitaslogo.jpg" alt="" style="width: 60px">
            </a>
            <a href="/" style="color: #dc3545; margin-left: 10px">
                Caritas Application
            </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class="has-sub">
                        <a href="/">
                            <i class="fas fa-user"></i><span th:text="#{chat.main}"></span></a>
                    </li>

                </ul>

                <ul class="list-unstyled navbar__list">

                    <hr>
                    <h4 th:if="${discussionsForGroupAdmin.size()>0}"  th:text="#{discussions}">Ձեր զրուցարանները</h4>
                    <li class="has-sub" th:each="discussion:${discussionsForGroupAdmin}">
                        <a th:href="@{'/user_discussion/discussion/'+${discussion.getId()}}" th:text="${discussion.getTitle()}">
                            <i class="fas fa-user"></i><span th:text="#{chat.main}"></span></a>
                    </li>

                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap" style="display: flex; justify-content: flex-end">

                        <div class="header-button">

                            <div class="account-wrap" style="display: flex;align-items: center;height: 75px;">

                                <div>
                                    <div style="width:100%; display: flex;justify-content: center;margin-left: 20px;margin-right: 50px">
                                        <select id="language" class="form-control"
                                                style="width: 215px; background-color: #dc3545; color: #fff">
                                            <option th:text="#{language}"
                                                    style="background-color: #fff; color: #495057"></option>
                                            <option value="/discussions/create_discussion?lang=hy"
                                                    style="background-color: #fff; color: #495057">Հայերեն
                                            </option>
                                            <option value="/discussions/create_discussion?lang=en"
                                                    style="background-color: #fff; color: #495057">English
                                            </option>
                                        </select>

                                    </div>
                                    <script>
                                        $(function () {
                                            $('#language').on('change', function () {
                                                var url = $(this).val();
                                                console.log(url);
                                                if (url) {
                                                    window.location = url;
                                                }
                                                return false;
                                            });
                                        });
                                    </script>
                                </div>

                                <div class="account-item clearfix js-item-menu">
                                    <div class="image">
                                        <img th:src="@{'/users/userImage?'(userImage=${currentUser.getAvatar()})}"
                                             th:alt="${currentUser.getName()}"/>
                                    </div>
                                    <div class="content">

                                        <a class="js-acc-btn" href="#"
                                           th:text="#{welcome} + ' ' + ${currentUser.getName()}">john
                                            doe</a>

                                    </div>

                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img th:src="@{'/users/userImage?'(userImage=${currentUser.getAvatar()})}"
                                                         th:alt="${currentUser.getName()}"/>
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#" th:text="${currentUser.getName()}">john doe</a>
                                                </h5>
                                                <span class="email" th:text="${currentUser.getEmail()}">johndoe@example.com</span>
                                            </div>
                                        </div>

                                        <div class="account-dropdown__footer">
                                            <a href="/logout">
                                                <i class="zmdi zmdi-power"></i><span th:text="#{exit}"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title-5 m-b-35" th:text="#{discussion.edition}">Զրույցի փոփոխություն</h3>

                            <div class="card">
                                <div class="card-header">
                                    <h4 th:text="#{discussion.edition.information}">Զրույցի փոփոխման ինֆորմացիա</h4>
                                </div>
                                <div class="card-body">
                                    <div style="font-weight: bold" th:if="${bindingError!=null}"
                                         class="alert alert-danger" th:text="${bindingError}">
                                    </div>
                                    <div style="font-weight: bold" th:if="${titleError!=null}"
                                         class="alert alert-danger" th:text="${titleError}">
                                    </div>
                                    <div style="font-weight: bold" th:if="${descriptionError!=null}"
                                         class="alert alert-danger" th:text="${descriptionError}">
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header">
                                    <strong th:text="#{discussion.details}">Զրույցի դետալներ</strong>
                                </div>
                                <div class="card-body card-block">

                                    <form action="/discussions/edit_discussion" method="post" enctype="multipart/form-data"
                                          class="form-horizontal" id="discuss">


                                        <div th:each="oldLink: ${discussion.getLinks()}">
                                            <input type="hidden" name="links" th:value="${oldLink.getId()}">
                                        </div>


                                        <div class="row form-group">
                                            <div class="col-12 col-md-12">
                                                <input type="hidden" name="id" th:value="${discussion.getId()}">
                                                <input type="hidden" name="thumbnail" th:value="${discussion.getThumbnail()}">

                                                <input type="text" id="text-input0" name="title" th:placeholder="#{create.discussion.title}"
                                                       class="form-control" th:if="${oldDiscussion!=null}"
                                                       th:value="${oldDiscussion.getTitle()}" required>
                                                <input type="text" id="text-input" name="title" th:value="${discussion.getTitle()}" th:placeholder="#{create.discussion.title}"
                                                       class="form-control" th:unless="${oldDiscussion!=null}" required>

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12 col-md-12">
                                                <textarea name="description" class="form-control" cols="30" rows="10" th:if="${oldDiscussion!=null}" th:value="${discussion.getDescription()}" th:text="${oldDiscussion.getDescription()}" required></textarea>
                                                <textarea name="description" class="form-control" cols="30" rows="10" th:if="${oldDiscussion==null}" th:value="${discussion.getDescription()}" th:text="${discussion.getDescription()}" required></textarea>

                                            </div>
                                        </div>

                                            <div class="row form-group">
                                                <div class="col-12 col-md-12">
                                                    <label for="thumbnail" th:text="#{working.group.table.img}">Նկար</label>
                                                    <input type="file" name="img" id="thumbnail"  class="form-control">
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-12 col-md-12">
                                                        <div class="thumb"><img th:src="@{'/discussions/discussionImage?'(image=${discussion.getThumbnail()})}"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        <div class="row form-group">
                                            <div class="col-12 col-md-12">
                                                <label for="files" th:text="#{chat.documents}">Փաստաթղթեր</label>
                                                <input type="file" name="fewfiles" id="files" multiple  class="form-control">
                                            </div>
                                            <div class="col-12" th:each="document:${discussion.getDocuments()}" onclick="deleteLink(event.currentTarget)">
                                                <input type="hidden" name="changedFiles" th:value="${document.getId()}">
                                                <div><a th:href="@{'/discussions/discussionFile?file='+ ${document.getUrl()}}" th:download="${document.getUrl()}" th:text="${document.getUrl()}"></a>&nbsp;&nbsp;<i style="cursor: pointer" class="zmdi zmdi-delete"></i></div>
                                            </div>
                                        </div>


                                        <div class="row form-group">
                                            <div class="col-12 col-md-12">
                                                <label for="links" id="label" th:text="#{chat.links}">Հղումներ</label>
                                                <input type="text" name="hrefs" id="links" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-12 col-md-12">
                                                <span class="btn badge-info" onclick="addInput()" th:text="#{add}"> <i class="fas fa-plus"></i>․․․</span>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-12 col-md-12">
                                                <div th:if="${discussion.getLinks()!=null}" th:each="link: ${discussion.getLinks()}" onclick="deleteLink(event.currentTarget)">
                                                    <input type="hidden" name="changedLinks" th:id="${link.getId()}" th:value="${link.getId()}" multiple >
                                                    <span style="margin-right: 30px" th:text="${link.getUrl()}"></span>
                                                     <i style="cursor: pointer" class="zmdi zmdi-delete"></i>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="row form-group">
                                            <div class="col-12 col-md-12">
                                                <!--<input type="hidden" name="usersForDiscussion" th:value="${currentUser.getId()}">-->

                                                <p th:each="user: ${users}">
                                                    <input type="checkbox" name="usersForDiscussion" th:value="${user.getId()}" th:checked="${discussion.getUsers().contains(user)}" style="padding: 2px">
                                                    <span th:text="${user.getName()}"></span>
                                                </p>
                                            </div>
                                        </div>
                                        <input type="hidden" name="workingGroupForDiscussion" th:value="${workingGroup.getId()}">

                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> <span th:text="#{accept}"></span>
                                            </button>

                                            <a href="/" type="reset" class="btn btn-danger btn-sm" id="more">
                                                <i class="fa fa-ban"></i> <span th:text="#{cancel}"></span>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="copyright">
                                        <p th:text="#{copyrights}">2018 © Caritas. Բոլոր իրավունքները պաշտպանված են։</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<!-- Jquery JS-->
<script src="/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/vendor/slick/slick.min.js">
</script>
<script src="/vendor/wow/wow.min.js"></script>
<script src="/vendor/animsition/animsition.min.js"></script>
<script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/vendor/select2/select2.min.js">
</script>

<script>

</script>

<!-- Main JS-->
<script src="/js/main.js"></script>


</body>

</html>
<!-- end document-->
